@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Freeman&family=Inconsolata:wght@200..900&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Sedan+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,900,800,500,700,600");

@font-face {
  font-family: VALKO;
  src: url(/fonts/VALKOCAPELARegular.ttf);
}

@font-face {
  font-family: NASI;
  src: url(/fonts/Nasi.otf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: #000000;
  font-family: Arial, sans-serif;
  margin: 0;
  overflow: hidden;
}
main {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

main::-webkit-scrollbar {
  display: none;
}

section {
  display: flex;
  height: 100vh;
  scroll-snap-align: start;
}

#circle-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.circle {
  width: 17px;
  height: 17px;
  background-color: transparent;
  border: 2px solid #5a5a5a;
  border-radius: 50%;
  margin: 5px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.fill {
  animation: fillCircle 0.5s forwards;
  background-color: #000;
}

@keyframes fillCircle {
  from {
    background-color: transparent;
  }
  to {
    background-color: #8d8d8d;
  }
}

.redes-container {
  position: relative;
  top: 90px;
}

.logo img {
  position: fixed;
  width: 70px;
  margin: 0 80px;
  top: 50px;
  cursor: pointer;
  filter: drop-shadow(0 0 2px #fff);
}

.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;

  left: 1700px;
  bottom: 43px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
  transition: 0.4s;
  border-radius: 5px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 0.1em;
  border-radius: 0px;
  left: 0.3em;
  bottom: 0.3em;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #6d6d6d;
  box-shadow: inset 2px 5px 10px rgb(0, 0, 0);
}

input:checked + .slider:before {
  transform: translateX(2.8em) rotate(360deg);
}

/* Seccion de bienvenida */
.section-bienvenida {
  width: 100%;
  position: relative;
  height: 920px;
  background-color: #d20901;
  background-image: url("/assets/img/background-figuras.png");
  border-bottom: 2px solid white;
}

.section-bienvenida nav a i {
  position: relative;
  left: 1700px;
  bottom: 30px;
  cursor: pointer;
  margin: 10px;
}

.iframely-embed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background: white;
}

#app {
  overflow-x: hidden;
}

.title {
  padding-left: 1em;
  grid-column: 1 / -1;
  grid-row: 1;

  font-family: VALKO;
  font-size: 8vw;
  width: 100%;
  z-index: 2;
  color: #fff;

  > .title-inner {
    display: inline-block;
  }
}

@keyframes text-clip {
  from {
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes outer-left {
  from {
    transform: translateX(50%);
  }
  to {
    transform: none;
  }
}

@keyframes inner-left {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: none;
  }
}

.cafe,
.mozart {
  animation: outer-left 1s 1s cubic-bezier(0.5, 0, 0.1, 1) both;
}

.title-inner {
  display: inline-block;
  animation: inner-left 1s 1s ease both;
  margin-top: 150px;
}

.cafe-inner {
  display: inline-block;
  animation: inner-left 1s 1s ease both,
    text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
}

.mozart-inner {
  animation: text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
}

.title {
  animation: outer-left 1s 1s ease both;
}

.cafe {
  > .cafe-inner {
    display: inline-block;
  }
}

.mozart {
  display: inline-block;
}

.mozart-info {
  font-size: 20px;

  position: relative;
}

.waves {
  position: absolute;
  width: 100%;
  height: 15vh;
  min-height: 100px;
  max-height: 150px;
  bottom: 0;
  left: 0;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.9, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}

@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
}

.section-sobremi {
  background-color: #fff;
  width: 100%;
  height: 920px;
  background-image: url("/assets/img/background-bolas-rojas.svg");
}

.container-sobremi {
  position: relative;
  margin-top: 200px;
}

.sobremi-1 p {
  position: relative;
  margin-left: 600px;
  margin-top: 30px;
  font-size: 25px;
  text-align: center;
  right: 300px;
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  word-spacing: 20px;
}

.container-sobremi h2 {
  font-family: Nasi;
  font-size: 50px;
  text-align: center;
}

.tecnologias-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 50px;
}

.tecnologias-icon img {
  width: 48px;
  height: 48px;
}

/* Inicio de seccion de educacion */
.section-educacion {
  width: 100%;
  height: 920px;
  background-image: url("/assets/img/blob-scene-haikei\ -rojo.svg");
  color: #000000;
}

.container-educacion {
  position: relative;
  left: 300px;
}

.container-educacion h2 {
  font-family: Nasi;
  font-size: 50px;
  text-align: center;
  position: relative;
  top: 100px;
}

.educacion {
  margin: 160px;
}

.blog-slider {
  position: relative;
  max-width: 1000px;
  margin: auto;
  background: #fff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  border-radius: 25px;
  height: 600px;
  transition: all 0.3s;
}

.blog-slider__item {
  display: flex;
  align-items: center;
}

.blog-slider__item.swiper-slide-active .blog-slider__img img {
  opacity: 1;
  transition-delay: 0.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > * {
  opacity: 1;
  transform: none;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(1) {
  transition-delay: 0.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(2) {
  transition-delay: 0.4s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(3) {
  transition-delay: 0.5s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(4) {
  transition-delay: 0.6s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(5) {
  transition-delay: 0.7s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(6) {
  transition-delay: 0.8s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(7) {
  transition-delay: 0.9s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(8) {
  transition-delay: 1s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(9) {
  transition-delay: 1.1s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(10) {
  transition-delay: 1.2s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(11) {
  transition-delay: 1.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(12) {
  transition-delay: 1.4s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(13) {
  transition-delay: 1.5s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(14) {
  transition-delay: 1.6s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(15) {
  transition-delay: 1.7s;
}
.blog-slider__img {
  width: 300px;
  flex-shrink: 0;
  height: 300px;

  box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 0.2);
  border-radius: 20px;
  transform: translateX(-80px);
  overflow: hidden;
}
.blog-slider__img:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  border-radius: 20px;
  opacity: 0.8;
}
.blog-slider__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  opacity: 0;
  border-radius: 20px;
  transition: all 0.3s;
}

.blog-slider__content > * {
  opacity: 0;
  transform: translateY(25px);
  transition: all 0.4s;
}
.blog-slider__code {
  color: #7b7992;
  margin-bottom: 15px;
  display: block;
  font-weight: 500;
  font-family: "Inconsolata", monospace;
}
.blog-slider__title {
  font-size: 28px;
  font-weight: 700;
  color: #0d0925;
  margin-bottom: 20px;
  font-family: Nasi;
}
.blog-slider__title_small {
  font-size: 18px;
  font-weight: 700;
  color: #0d0925;
  margin-bottom: 20px;
  font-family: Nasi;
}
.blog-slider__text {
  color: #4e4a67;
  margin-bottom: 30px;
  line-height: 2em;
  padding-right: 50px;
  font-family: "Inconsolata", monospace;
}
.blog-slider__button {
  display: inline-flex;
  background-image: linear-gradient(147deg, #d20901 0%, #f4f4f4 74%);
  padding: 15px 35px;
  border-radius: 50px;
  color: #000000;
  box-shadow: 0px 4px 5px rgba(12, 94, 50, 0.3);
  text-decoration: none;
  font-weight: 500;
  justify-content: center;
  text-align: center;
  letter-spacing: 1px;
  transition: all 0.5s ease-in-out;
  position: relative;
  right: 590px;
  font-family: Nasi;
  top: 150px;
}

.blog-slider .swiper-container-horizontal > .swiper-pagination-bullets,
.blog-slider .swiper-pagination-custom,
.blog-slider .swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%;
}
.blog-slider__pagination {
  position: absolute;
  z-index: 21;
  right: 20px;
  width: 11px !important;
  text-align: center;
  left: auto !important;
  top: 50%;
  bottom: auto !important;
  transform: translateY(-50%);
}

.blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 8px 0;
}

.blog-slider__pagination .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  display: block;
  border-radius: 10px;
  background: #062744;
  opacity: 0.2;
  transition: all 0.3s;
}
.blog-slider__pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background: #d20901;
  height: 30px;
  box-shadow: 0px 0px 20px rgba(252, 56, 56, 0.3);
}

.section-proyecto {
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  opacity: 1;
  background-image: radial-gradient(#d20901 2px, transparent 2px),
    radial-gradient(#d20901 2px, #ffffff 2px);
  background-size: 80px 80px;
  background-position: 0 0, 40px 40px;
}

.titulo_proyectos {
  font-family: VALKO;
  font-size: 50px;
}

.cta img {
  display: block;
  width: 100%;
}

.cta__text-column h2 {
  margin: 0;
  font-size: 1.4rem;
  color: white;
  font-family: Nasi;
}

@media (min-width: 50em) {
  .cta__text-column h2 {
    font-size: 1.8rem;
  }
}

.cards-container-proyectos {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
}

.cta {
  --shadowColor: 2 100% 35%;
  display: flex;
  flex-direction: column; /* Asegúrate de que el contenido interno de la tarjeta esté en columna */
  background: #ff736e;
  width: 20rem;
  height: 35rem; /* Ancho fijo para las tarjetas */
  box-shadow: 0.65rem 0.65rem 0 hsl(var(--shadowColor) / 1);
  border-radius: 0.8rem;
  overflow: hidden;
  border: 0.5rem solid;
}

.cta__text-column p {
  color: white;
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.cta img {
  aspect-ratio: 3 / 2;
  object-fit: cover;
  width: 100%;
  outline: 0.5rem solid;
}

.cta__text-column {
  padding: min(2rem, 5vw) min(2rem, 5vw) min(2.5rem, 5vw);
}

.cta__text-column > * + * {
  margin: min(1.5rem, 2.5vw) 0 0 0;
}

.cta a {
  display: inline-block;
  color: rgb(0, 0, 0);
  padding: 0.5rem 1rem;
  text-decoration: none;
  background: hsl(0, 0%, 100%);
  border-radius: 0.6rem;
  font-weight: 700;
  border: 0.35rem solid;
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.swiper-slide {
  width: 400px;
}

.modal {
  display: none; /* Oculto por defecto */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  opacity: 0; /* Comienza transparente */
  transition: opacity 0.5s ease; /* Transición de opacidad */
}

.modal.show {
  display: flex; /* Mostrar modal */
  opacity: 1; /* Opacidad plena */
}
.modal-content {
  background-color: #ffffff;
  padding: 20px;
  width: 100%;
  height: 100%;
  text-align: center;
  transform: rotateY(-90deg); /* Comienza rotado */
  transform-origin: top; /* Origen de la rotación en el borde superior */
  transition: transform 0.5s ease; /* Transición de rotación */
}
.modal.show .modal-content {
  transform: rotateY(0);
}

.close {
  color: #aaa;
  float: right;
  font-size: 48px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.imagen-principal-proyectos {
  position: relative;
  bottom: 90px;
}

.modal-content img {
  width: 55%;
  position: relative;
  left: 440px;
  border-radius: 30px;
}

.modal-content h2 {
  margin: 30px;
  font-family: VALKO;
  font-size: 40px;
  position: relative;
  right: 100px;
}

.contenedor-imagenes-proyectos {
  padding-bottom: 20px;
}

.contenedor-imagenes-proyectos h2 {
  text-align: center;
  position: relative;
  left: 20px;
}

.imagen-contenedor {
  margin-top: 50px;
}

.linea-separadora {
  border: none;
  position: relative;
  width: 54%;
  left: 24%;
  height: 2px;
  background-color: #d20901;
}

.modal-content ul {
  position: relative;
  margin: 30px;
  right: 340px;
  padding: 0;
}

.modal-content li {
  margin: 40px;
  font-family: Nasi;
  font-size: 25px;
  color: #d20901;
  list-style: none;
}

.descripcion-proyecto {
  width: 40%;
  position: relative;
  left: 850px;
  bottom: 230px;
}

.descripcion-proyecto p {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 19px;
  word-spacing: 15px;
}
.flex-container {
  margin: 10px 0;
}
.inline-block {
  display: inline-block;
  margin-right: 10px; /* Espacio entre los elementos */
}

.linea-separadora-vertical {
  border: none;
  position: relative;
  width: 20%;
  bottom: 125px;

  left: 53%;
  height: 2px;
  background-color: #b01f1a;
  /* Elimina el borde predeterminado */
  transform: rotate(90deg); /* Rota el <hr> para hacerlo vertical */
  margin: 0;
}

.section-contacto {
  background: #d20901;
}

.info-contacto-1,
.info-contacto-2 {
  position: relative;
  top: 130px;
}

.info-contacto-1 p,
.info-contacto-2 p {
  margin: 120px;
}

.info-container {
  display: flex;
}

.info-container i {
  position: relative;
  top: 3px;
  margin: 13px;
}

.download-btn {
  position: relative;
  top: 680px;
  right: 250px;
}

.download-btn {
  height: 45px;
  width: 180px;
  cursor: pointer;
  border: none;
  background: #ffffff;
  border-radius: 30px;
  overflow: hidden;
}

.button-content {
  transform: translateY(-45px);
  transition: all 250ms ease-in-out;
}

.svg-container,
.text-container {
  height: 45px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-container .text {
  font-size: 13px;
  color: #000000;
  font-weight: 600;
  opacity: 1;
  transition: opacity ease-in-out 250ms;
  font-family: Nasi;
}

.download-icon {
  height: 25px;
  width: 25px;
  fill: #000000;
  opacity: 0;
  transition: opacity ease-in-out 250ms;
}

/* hover state for the button */
.download-btn:hover .button-content {
  transform: translateY(0px);
}

.download-btn:hover .text {
  opacity: 0;
}

.download-btn:hover .download-icon {
  opacity: 1;
}

.download-btn:focus .download-icon {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.info-container p a {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
.info-container p a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  margin-top: 20px;
  display: inline-block;
  font-family: Nasi;
  position: relative;
}

.info-container p a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ffffff;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

.info-container p a:hover::after {
  width: 100%;
}

.line {
  width: 1500px;
  color: #000;
  position: relative;
  left: 10%;
  top: 130px;
}

/* Dark mode */
.dark-mode .section-bienvenida {
  background-image: url("/assets/img/background-figuras-negro.png");
  border-bottom-color: #fff;
  height: 920px;
}

.dark-mode .section-sobremi {
  background-image: url("/assets/img/background-bolas-negras.svg"); /* Elimina la imagen de fondo */
}

.dark-mode .section-educacion {
  background-image: url("/assets/img/blob-scene-haikei\ -negro.svg");
}

.dark-mode .blog-slider__pagination .swiper-pagination-bullet-active {
  background: #000000;
}

.dark-mode .blog-slider__img {
  box-shadow: 4px 13px 30px 1px rgba(0, 0, 0, 0.2);
}

.dark-mode .section-proyecto {
  background-color: #ffffff;
  opacity: 1;
  background-image: radial-gradient(#000000 2px, transparent 2px),
    radial-gradient(#000000 2px, #ffffff 2px);
  background-size: 80px 80px;
  background-position: 0 0, 40px 40px;
}

.dark-mode .cta {
  --shadowColor: 0 0% 36%;
  background: #a4a4a4;
}

.dark-mode .cta h2 {
  color: #000;
}

.dark-mode .section-contacto {
  background: #000;
}

/* RESPONSIVE DE CELULAR */
@media only screen and (max-width: 600px) {
  .logo img {
    width: 50px;
    right: 150px;
  }
  .redes-container {
    position: relative;
    left: 190px;
  }
  .section-bienvenida {
    width: 320px;
    height: 550px;
    background-color: #d20901;
    background-image: none;
  }
  #app {
    position: relative;
    right: 120px;
    top: 90px;
  }
  .title-inner {
    width: 230px;
  }
  .title {
    font-size: 30px;
  }

  .section-sobremi {
    /* cambiar a las bolas */
    background-image: none;
    position: relative;
    
  }
  .container-sobremi h2 {
    position: relative;
    bottom: 140px;
    font-size: 40px;
  }
  .sobremi-1{
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .sobremi-1 p {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    word-spacing: 0px;
    font-size: 15px;
    bottom: 160px;
  }
}

/* RESPONSIVE TABLETS */
@media only screen and (min-width: 601px) and (max-width: 1080px) {
  /* Agrega tus estilos específicos para pantallas medianas aquí */
}
