@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Freeman&family=Inconsolata:wght@200..900&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Sedan+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap");

@font-face {
  font-family: SuperFestival;
  src: url(/fonts/Super\ Festival\ Personal\ Use.ttf);
}

body {
  background-color: #ffffff;
  color: #000000;
  font-family: Arial, sans-serif;
  margin: 0;
}

header {
  width: 100%;
  background-color: #d20901;
  height: 80px;
  position: fixed;
  color: white;
}

.logo img {
  position: relative;
  width: 60px;
  margin: 0 70px;
  top: 10px;
  cursor: pointer;
  filter: drop-shadow(0 0 2px #fff);
}

.header-container a {
  position: relative;
  bottom: 30px;
  left: 8%;
  margin: 0 10px;

  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.header-container a i {
  position: relative;
  left: 1400px;
  cursor: pointer;
}

.nav-options::after {
  content: "";
  width: 0;
  height: 3px;
  background: #000000;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

.nav-options:hover::after {
  width: 100%;
}

/* Seccion de bienvenida */
.section-bienvenida {
  width: 100%;
  height: 650px;
  background-color: #d20901;
  border-bottom: 2px solid white;
}

.bienvenida-info {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-family: SuperFestival;
  color: #ffffff;
}

.heading {
  position: relative;
  
  top: 10px;
  z-index: 1;
  margin: 80px 0 0 80px;
  font-size: 67px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: flex;
  flex-direction: column;
}
.heading > div {
  overflow: hidden;
}
.heading > div > p {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  white-space: nowrap;
  margin: 0;
  line-height: 117%;
}

.red-vino {
  color: #000000;
}

div.heading > div {
  -webkit-animation-delay: 0;
  animation-delay: 0;
}
div.heading > div:nth-child(2) > p {
  -webkit-animation-delay: 0.05s;
  animation-delay: 0.05s;
}

div.heading > div {
  -webkit-animation-delay: 0;
  animation-delay: 0;
}
div.heading > div:nth-child(3) > p {
  -webkit-animation-delay: 0.075s;
  animation-delay: 0.075s;
}

.slide-up {
  -webkit-animation: slide-up 0.85s cubic-bezier(0.65, 0, 0.35, 1) both;
  animation: slide-up 0.85s cubic-bezier(0.65, 0, 0.35, 1) both;
}

@-webkit-keyframes slide-up {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}


.hero_area {
  position: relative;
  height: 200px;
  top: 410px;
  background-color: #d20901;
}

.waves {
  position: absolute;
  width: 100%;
  height: 15vh;
  min-height: 100px;
  max-height: 150px;
  bottom: 0;
  left: 0;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.9, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}

@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
}

.sobremi-1 p {
  margin: 20px;
}
