@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Freeman&family=Inconsolata:wght@200..900&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Sedan+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap");

@font-face {
  font-family: VALKO;
  src: url(/fonts/VALKOCAPELARegular.ttf);
}

@font-face {
  font-family: NASI;
  src: url(/fonts/Nasi.otf);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: #000000;
  font-family: Arial, sans-serif;
  margin: 0;
}

header {
  width: 100%;
  background-color: #d20901;
  height: 80px;
  color: white;
}

.logo img {
  position: relative;
  width: 60px;
  margin: 0 70px;
  top: 10px;
  cursor: pointer;
  filter: drop-shadow(0 0 2px #fff);
}

.header-container a {
  position: relative;
  bottom: 30px;
  left: 8%;
  margin: 0 10px;

  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.header-container a i {
  position: relative;
  left: 1400px;
  cursor: pointer;
}

.nav-options::after {
  content: "";
  width: 0;
  height: 3px;
  background: #000000;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

.nav-options:hover::after {
  width: 100%;
}

/* Seccion de bienvenida */
.section-bienvenida {
  width: 100%;
  height: 650px;
  background-color: #d20901;
  border-bottom: 2px solid white;
}

.iframely-embed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background: white;
}

#app{
  overflow-x: hidden;
}

.title {
  padding-left: 1em;
  grid-column: 1 / -1;
  grid-row: 1;

  font-family: VALKO;
  font-size: 8vw;
  width: 100%;
  z-index: 2;
  color: #fff;

  > .title-inner {
    display: inline-block;
  }
}

@keyframes text-clip {
  from {
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes outer-left {
  from {
    transform: translateX(50%);
  }
  to {
    transform: none;
  }
}

@keyframes inner-left {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: none;
  }
}

.cafe,
.mozart {
  animation: outer-left 1s 1s cubic-bezier(0.5, 0, 0.1, 1) both;
}

.title-inner {
  display: inline-block;
  animation: inner-left 1s 1s ease both;
  margin-top: 150px;
  
}

.cafe-inner {
  display: inline-block;
  animation: inner-left 1s 1s ease both,
    text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
}

.mozart-inner {
  animation: text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
}

.title {
  animation: outer-left 1s 1s ease both;
}

.cafe {
  > .cafe-inner {
    display: inline-block;
  }
}

.mozart {
  display: inline-block;
}

.mozart-info{
  font-size: 20px;
  
  position: relative;

}

.hero_area {
  position: relative;
  height: 200px;
  top: 80px;
  background-color: #d20901;
}

.waves {
  position: absolute;
  width: 100%;
  height: 15vh;
  min-height: 100px;
  max-height: 150px;
  bottom: 0;
  left: 0;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.9, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}

@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
}

.section-sobremi{
  width: 100%;
  height: 300px;
  margin-top: 300px;
  
  
}

.curved{
  width: 100%;
  height: 250px;
  background-color: #ffffff;
  -webkit-clip-path: ellipse(71% 59% at 50% 60%);
  clip-path: ellipse(71% 59% at 50% 40%);
  position: hidden;
}

.sobremi-1 p {
  position: relative;
  margin-left: 600px;
  margin-top: 30px;
  font-size: 20px;
  text-align: center;
  right: 300px;
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  word-spacing: 10px;
}

.container-sobremi h2{
  font-family: Nasi;
  font-size: 50px;
  text-align: center;
}

.section-tecnologias {
  width: 100%;
  height: 750px;
  background-color: #d20901; 
  margin-top: 270px;
}

.curved-2 {
  width: 100%;
  height: 250px;
  background-color: #ffffff;
  -webkit-clip-path: ellipse(71% 59% at 50% 60%);
  clip-path: ellipse(71% 59% at 50% 70%);
  position: hidden;
  margin-top: 560px;
}
